@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --foreground: #0a0a0a;
  --green: #1db954;
  --faded-green: #a8e5be;
  --gray: #ebebeb;
  --red: #f24545;
  --font-plein: "Plein", sans-serif;
  --font-archivo: "Archivo", sans-serif;
}

@font-face {
  font-family: "Plein";
  src: url("../fonts/Plein-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green: var(--green);
  --color-faded-green: var(--faded-green);
  --color-gray: var(--gray);
  --color-red: var(--red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-plein);
  --font-body: var(--font-archivo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #fbfbfb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
p,
a,
label {
  font-family: var(--font-body);
}
